---
import Layout from "../layouts/Layout.astro";
import Portada from "../components/Portada";
import Proyectos from "../components/Proyectos";
import Habilidades from "../components/Habilidades";
import Contacto from "../components/Contacto";
import SobreMi from "../components/SobreMi";
---

<Layout>
  <section id="home">
    <Portada />
    <h1></h1>
  </section>

  <section id="proyectos">
    <Proyectos />
  </section>

  <section id="habilidades">
    <Habilidades />
  </section>

  <section id="sobreMi">
    <SobreMi client:load />
  </section>

  <section id="contacto">
    <Contacto client:load />
  </section>
</Layout>
